<div class = addbook>
    {{error}}
    <form class = "addform" method = "POST" action = "http://localhost:3000/books-new">
        <p> Title <input type = "text" name = "title"> </input></p>
        <p> Author <input type = "text" name = "author"> </input></p>
        <p> ISBN <input type = "text" name = "isbn"> </input></p>
        <input type = "submit" value = "Add this book!">
    </form>

     <div class = totalvisits>
      Total visits to this site: {{visits}}
    </div> 
</div>

 