<!DOCTYPE html>
<head>
	 <link rel = "stylesheet" href = "http://localhost:3000/css/style.css">
<title></title>
</head>
<body>
	<div class=links>
		<a href="http://localhost:3000/books"> Home </a> &nbsp;
		<a href="http://localhost:3000/books-new"> Add a Book </a>
	</div>
	{{{ body }}}
</body>
</html>
