
<div class = index>

<form method = "GET" action = "http://localhost:3000/vfs">

    <p>
        <label>Choose a Linux OS:</label>
    </p>

        <p class="options">
            <select name = "osview">
                <option value="">--Please choose an option--</option>
                <option value="Ubuntu">Ubuntu</option>
                <option value="Debian">Debian</option>
            </select>
        </p>
            <input type = "submit">

</form>

</div>