<!DOCTYPE html>
<html>
		<head>
                <link rel = "stylesheet" href = "css/style.css">
				{{!-- <meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width" />
				<title>Layout</title> --}}
		</head>
		<body>
				<!-- specifies where your template goes -->
				{{{ body }}}
		</body>
</html>
